*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EBEBEB;
    display: flex;
}
#cadastrar{
    background-color: #F84C72;
    width: 30%;
    height: 100vh;
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.cadastrar{
    position: fixed;

}
.h1-cadastrar{
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: "Arial Rounded MT";
    width: 100%;
    text-shadow: 3px 2px 2px rgb(0, 0, 0, 25%)
}
.h2-cadastrar{
    color: #F84C72;
    font-size: 2.5em;
    text-align: center;
    font-family: "Arial Rounded MT";
    width: 100%;
    text-shadow: 3px 2px 2px rgb(0, 0, 0, 25%);
    margin-top: 6%;
}
.linha{
    background-color: white;
    width: 40%;
    height: 4px;   
    margin-bottom: 8%;
}
.linha-2{
    background-color: #F84C72;
    width: 16%;
    height: 4px;
    margin-left: 42%;
}
input{
    border: solid white 1px;
    background-color: #F84C72;
    border-radius: 9px;
    width: 70%;
    height: 6vh;
    margin: 3% 0% 6% 0%;
    padding: 2%;
    color: white;
}
input::placeholder{
    color: white;
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
button{
    width: 70%;
    height: 6vh;
    background-color: rgb(255, 255, 255, 75%);
    border-radius: 9px;
    color: #F84C72;
    font-family: "Arial Rounded MT";
    font-size: 1.5em;

}
button:hover{
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 25%);
    cursor: pointer;
}
/* card */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
}

section {
    padding: 3% 2%;
    width: 24%;
}


#team .card {
    border: none;
    background: #ffffff;
    padding: 10%;
    box-shadow: 3px 2px 2px rgb(0, 0, 0, 25%);
    border-radius: 10px;
    max-width: 300px;
    
}
.img-fluid{
    width: 100%;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 30vh;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.card-body {
    width: 100%;
}
.row{
    width: 14em;
}
#lista{
    width: 70%;
display: flex;
flex-direction: column;
margin-left: 31%;
}

.title-text{
    color: #F84C72;
    font-family: "Arial Rounded MT";
    font-size: 1.5em;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.data{
    color: #F84C72;
    font-family: "Arial Rounded MT";
    font-size: 1.5em;
    margin-top: 18%;
}
.data-text{
    color: #aaa;
    font-family: "Arial Rounded MT";
    font-size: 1em;
}
.card-text{
    color: #aaa;
    font-family: "Arial Rounded MT";
    font-size: 1em;
}
.sair{
    color: #F84C72;
    font-family: "Arial Rounded MT";
    font-size: 1.5em;
    margin-top: 18%; 
    text-decoration: none;
}
.topo{
    display: flex;

    align-items: center;
justify-content: space-around;
}
.titulo{
    margin-left: 25%;
}